.button-wrapper {
    display: flex;
    align-items: center;
}

.button-1 {
    border: 2px solid transparent;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #4c2897;
    padding: 6px;
    margin-left: 10px;
}

.button-2 {
    border: 2px solid transparent;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 6px;
}