.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6dbfe;
    min-height: 100vh;
    width: 100%;
}

.card {
    width: 80%;
    height: calc(100vh - 70px);
    background-color: #f5f3f7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.icon-container {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.icon {
    margin-right: 5px;
}

.text {
    margin-right: 25px;
}

.icon-name {
    font-weight: bold
}

.flight-parent {
    width: 70%;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    overflow: hidden;
}

.flight-card {
    width: 70%;
    overflow-y: scroll;
    position: relative;
}

.flight-card::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari ve Edge */
}

.loading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.spinner {
    align-self: center;
}